@media (max-width: 768px){

.wrap {
    width: 100%;
}

.nav__list {
    display: none;
}

.menu-btn {
    display: block;
}

.about__content {
    width: 100%;
flex-direction: column;
}

.about__cards {
    width: 100%;
}

.proposial__cards {
    display: flex;
    flex-direction: column;
}

.proposial__card {
    width: 30%;
    height: 30%;
    transition: 1s;
}

.proposial__card:hover {
    transform: scale(1.3);
    z-index: 2;
}
}